.arrow {
    display: inline-block;
    position: absolute;
    width: 60px;
    height: 60px;
    background: transparent;
    text-indent: -9999px;
    border-top: 2px solid #bfbfbf;
    border-left: 2px solid #bfbfbf;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    color: transparent;

    &:hover {
        border-color: gray;
        border-width: 5px;
    }
    &:before {
        display: block;
        height: 200%;
        width: 200%;
        margin-left: -50%;
        margin-top: -50%;
        content: "";
        transform: rotate(45deg);
    }
    &.prev {
        transform: rotate(-45deg);
        left: 0;
    }
    &.next {
        transform: rotate(135deg);
        right: 0;
    }
    
    &.up {
        transform: rotate(45deg);
        left: 175px;
    }
    
    &.down {
        transform: rotate(-135deg);
        right: 175px;
    }
}